*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $dark-grey;
}

.turbolinks-progress-bar {
  background-color: $action-color;
}

.hidden {
  display: none;
}

.page-content {
  position: relative;
  min-height: 100vh;
  transform-origin: 50% 100%;
  transition: transform $full-page-duration $deceleration-timing $slow-duration, opacity $slow-duration $base-timing;
  background: $white;
  z-index: 1;
}

.page-content--hidden {
  @include position(fixed, 0 0 null 0);
  transform: translateY(100vh);
  transition: transform $full-page-duration $acceleration-timing, opacity $slow-duration $base-timing $full-page-duration;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

.with-horizontal-padding {
  @include horizontal-padding;
}

.flash {
  padding: 1em;
  background: $panel-background-color;
  border-bottom: $base-border;
}
