body {
  min-height: 100vh;
  background: $dark-grey;
  perspective: 1200px;
  perspective-origin: 50vw 50vh;
  transform-style: preserve-3d;
}

.turbolinks-progress-bar {
  background-color: $action-color;
}

.page-content {
  background: $white;
  min-height: 100vh;
  transform-origin: 50% 100%;
  transition: transform $full-page-duration $deceleration-timing $slow-duration, opacity $slow-duration $base-timing;
}

.page-content--hidden {
  @include position(fixed, 0 0 null 0);
  opacity: 0;
  transform: translateY(100vh) rotateX(-45deg);
  transition: transform $full-page-duration $acceleration-timing, opacity $slow-duration $base-timing $full-page-duration;
  pointer-events: none;
  touch-action: none;
}
