$navigation-height: 3.5em;

.navigation {
  display: flex;
  align-items: stretch;
  height: $navigation-height;
  border-bottom: 1px solid $border-color;

  &::before {
    flex: 1;
    content: '';
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0 1em;
  transition-duration: $base-duration;
  transition-property: background-color, color;
  transition-timing-function: $base-timing;
  background-color: rgba($highlight-color, 0);
  color: $medium-grey;

  svg {
    flex-shrink: 0;
  }

  span {
    @include ellipsis;
    margin-left: $small-spacing;
  }

  &:hover,
  &.drop-enabled {
    background-color: $highlight-color;
    color: $dark-grey;
  }
}

.navigation__logo {
  order: -1;

  > svg {
    @include size(modular-scale(3));
    color: $action-color;
  }

  > span {
    font-size: modular-scale(1);
  }
}

.navigation__user {
  display: flex;
  align-items: stretch;
  min-width: $icon-size + 2 * $base-spacing;

  .drop-target {
    min-width: 0;

    span {
      display: none;

      @include medium-screens {
        @include ellipsis;
      }
    }
  }
}

.navigation__menu {
  width: 20em;
  max-width: calc(100vw);
  border: 1px solid $border-color;
  background: $white;
}

.navigation__menu-item {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: $small-spacing $base-spacing;
  transition-duration: $base-duration;
  transition-property: background-color, color;
  transition-timing-function: $base-timing;
  background-color: rgba($highlight-color, 0);
  color: $medium-grey;

  svg {
    flex-shrink: 0;
    margin-right: $small-spacing;
  }

  span {
    @include ellipsis;
  }

  &:hover {
    background-color: $highlight-color;
    color: $dark-grey;
  }
}

.navigation__dropdown {
  &.drop-element {
    z-index: 1;

    .drop-content {
      margin: 0 -1px;
      transform: translateY(-2em);
      transition-duration: $slow-duration;
      transition-property: opacity, transform;
      transition-timing-function: $base-timing, $acceleration-timing;
      opacity: 0;
      pointer-events: none;
      touch-action: none;
    }

    &.drop-open {
      .drop-content {
        transform: translateY(0);
        transition-timing-function: $base-timing, $deceleration-timing;
        opacity: 1;
        pointer-events: auto;
        touch-action: auto;
      }
    }
  }
}
