$review-step-count: 4;
$review-step-collapsed-height: $small-spacing * 2 + modular-scale(1);

.review-form__step {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $small-spacing 0 $small-spacing $base-spacing;
  border-top: 1px solid rgba($medium-grey, 0.25);
  background: $white;
  box-sizing: border-box;

  :first-of-type > & {
    border-top-color: transparent;
  }

  @include medium-screens {
    padding-left: $keyline;
  }

  @include wide-screens {
    padding: $base-spacing calc(50vw - #{$line-width / 2});
  }
}

@for $i from 1 through $review-step-count {
  .review-form__section {
    &:nth-child(#{$i}) {
      height: calc(100vh - #{($review-step-count - $i) * $review-step-collapsed-height});
      margin-top: (1 - $i) * $review-step-collapsed-height;

      .review-form__step {
        position: relative;
        top: ($i - 1) * $review-step-collapsed-height;
        height: calc(100vh - #{$review-step-count * $review-step-collapsed-height});
      }

      &.review-form__section--fixed {
        .review-form__step {
          position: fixed;
          right: 0;
          left: 0;
        }
      }

      .review-form__section {
        &:not(.review-form__section--fixed) ~ & {
          .review-form__step {
            position: fixed;
            top: calc(100vh - #{($review-step-count + 1 - $i) * $review-step-collapsed-height});
            right: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.review-form__heading {
  @include ellipsis;
  display: block;
  margin: 0;
  font-size: modular-scale(1);
  font-weight: $light-font-weight;
  line-height: 1;

  a {
    color: inherit;
  }
}

.review-form__step-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  &::before {
    flex: 1;
    content: '';
  }

  &::after {
    flex: 2;
    content: '';
  }
}

.review-form__text-field {
  border: 0;
  font-size: modular-scale(3);
  font-weight: $bold-font-weight;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba($medium-grey, 0.25);
  }

  @include medium-screens {
    font-size: modular-scale(5);
  }
}
