.submissions {
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th,
  td {
    padding: $small-spacing;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    vertical-align: top;
  }

  thead {
    th {
      border-bottom: 1px solid $medium-grey;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid $light-grey;
    }
  }
}

.submissions__tabs {
  @include horizontal-padding;
  display: flex;
  border-bottom: $base-border;
}

.submissions__tab {
  @include ellipsis;
  margin-right: $small-spacing;
  margin-bottom: -$base-border-width;
  padding: $small-spacing 0;
  border-bottom: 0.25em solid transparent;
  color: inherit;
  font-size: modular-scale(-1);
  white-space: nowrap;

  .tab__text {
    opacity: 0.75;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: inherit;
    opacity: 1;
  }

  &.tab--active {
    border-bottom-color: $action-color;

    .tab__text {
      opacity: 1;
    }
  }

  @include medium-screens {
    font-size: modular-scale(0);
  }
}

.submission {
  @include horizontal-padding;
  @include vertical-padding(0.5em);
  display: block;
  border-bottom: $base-border;

  &:hover {
    background: $panel-background-color;
  }
}

.submission__production {
  @include ellipsis;
  display: block;
  color: $base-font-color;
}

.submission__review {
  @include ellipsis;
  display: block;
  color: $secondary-font-color;
  font-size: modular-scale(-1);
}

.submission__time {
  &::before {
    content: ' • ';
  }
}

.moderation__review {
  @include horizontal-padding;
  @include vertical-padding;
}

.moderation__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $small-spacing;
  font-size: modular-scale(2);

  .inline-label {
    margin-right: 0.5em;
    margin-bottom: $base-border-width;
  }

  .text-field {
    padding: 0;
    border: 0;
    border-bottom: $base-border;
    outline: none;
  }

  .moderation__production-name {
    width: 100%;
  }

  .moderation__performance-date {
    width: 9em;
  }

  .moderation__save {
    margin-left: $small-spacing;
    font-size: modular-scale(-2);

    &:disabled {
      display: none;
    }
  }
}

.moderation__production {
  position: relative;
}

.moderation__production-autocomplete {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin-top: $base-line-height * modular-scale(2) * -1;
  border: $base-border;
  background: $white;
  z-index: 1;
}

.moderation__productions {
  margin: 0;
  padding: 0;

  .review-form__production {
    padding: $small-spacing $base-spacing;
  }

  .review-form__production-name {
    font-size: inherit;
  }
}

.moderation__preview {
  margin-top: $base-spacing;
}

.moderation__feedback {
  .form__label {
    @include horizontal-padding;
    display: block;

    &::before {
      display: block;
      width: 3em;
      height: 0.25em;
      margin: $base-spacing 0 $small-spacing;
      background: $action-color;
      content: '';
    }
  }

  textarea {
    @include horizontal-padding;
    @include vertical-padding($small-spacing);
    display: block;
    width: 100%;
    min-height: $base-line-height * 5 + $small-spacing * 2;
    margin: $small-spacing 0;
    border: 0;
    outline: none;
    background: $panel-background-color;
  }
}

.moderation__buttons {
  @include horizontal-padding;
  padding-bottom: $base-spacing;

  .button {
    width: 100%;
    margin: 0 0 $small-spacing;
  }

  @include medium-screens {
    display: flex;

    .button {
      width: auto;

      + button {
        margin-left: $small-spacing;
      }
    }
  }
}
