body,
#{$all-text-inputs},
#{$all-buttons} {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

::selection {
  background: $highlight-color;
}

a {
  transition: opacity $base-duration $base-timing;
  color: $action-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

p {
  margin: 0 0 $small-spacing;
}

.text-link {
  background: linear-gradient(to bottom, transparent 87.5%, $highlight-color 87.5%);

  .dark-background & {
    color: $white;
  }
}

.page-title {
  @include horizontal-padding;

  .title {
    margin: $small-spacing 0 0;
    font-size: modular-scale(4);
    font-weight: $heading-font-weight;
  }
}

.breadcrumbs {
  @include all-caps;
  padding: $small-spacing 0;
  font-size: modular-scale(-1);
}
