body,
#{$all-text-inputs} {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

::selection {
  background: $highlight-color;
}

body {
  color: $dark-grey;
}

a {
  transition: opacity $base-duration $base-timing;
  color: $action-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

p {
  margin: 0 0 $small-spacing;
}

.text-link {
  background: linear-gradient(to bottom, transparent 87.5%, $highlight-color 87.5%);

  .dark-background & {
    color: $white;
  }
}
