// sass-lint:disable no-color-hex

$bourbon: (
  'modular-scale-ratio': $perfect-fourth,
  'modular-scale-base': 1em
);

$pink: #f73859;
$blue: #43dde6;
$white: #fff;
$light-grey: #dbedf3;
$medium-grey: #404b69;
$dark-grey: #283149;
$black: #000;

$base-font-color: $dark-grey;
$secondary-font-color: $medium-grey;
$action-color: $pink;
$hover-color: lighten($pink, 1);
$highlight-color: rgba($blue, 0.25);
$panel-background-color: rgba($blue, 0.125);
$border-color: $light-grey;

$base-font-family: Sailec, $font-stack-helvetica;
$light-font-weight: 200;
$base-font-weight: 400;
$bold-font-weight: 600;
$black-font-weight: 800;
$base-line-height: 1.5;
$heading-font-weight: $black-font-weight;

$base-border-width: 1px;
$base-border-radius: #{3em / strip-unit($base-font-size)};
$base-border: $base-border-width solid $border-color;

$icon-size: 1.5em;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$large-spacing: 2.5em;
$keyline: 4.5em;
$line-width: 60em;
$narrow-width: $line-width / 3;
$medium-width: $line-width / 2;

$base-duration: 150ms;
$slow-duration: 300ms;
$full-page-duration: 500ms;
$base-timing: cubic-bezier(0.4, 0, 0.2, 1);
$acceleration-timing: cubic-bezier(0.4, 0, 1, 1);
$deceleration-timing: cubic-bezier(0, 0, 0.2, 1);
